<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to operate Taskmaster</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Gujarati:wght@100&display=swap');

        * {
            color: #1e2f2f;
            font-family: 'Noto Sans Gujarati', sans-serif;
            box-sizing: border-box;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>

</head>
<body>
<h1>How to operate TaskMaster</h1>
<p>
<h2>Explanation for "Login":</h2>
In order to use the website features, you must first log in or re-register. If you already have an account, simply enter your login information (username and password) and click the "Login" button. If you don't have an account yet, click the "Not registered yet?" button and follow the instructions to create a new account.

<h2>Explanation for "Rooms":</h2>
On the website, you have the option to create your own rooms or connect to existing rooms. A room is a virtual space where users can come together and share information. To create a new room, click on the appropriate button and enter a room name and password of your choice. To join an existing room, write in the form under the heading "Connect to a Room" the room name and password of the room where you want to join.

<h2>Explanation for "In the rooms":</h2>
After you join a room and are the creator of the room, you have the option, if your rank allows it, to add "Tasks". This allows room participants to define, organize and track tasks. You can create a new task by clicking the corresponding button or input field and entering the details of the task, such as a description, due date, or other relevant information.

</body>
</html>